* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  color: rgb(187, 186, 186);
  background-color: #374151;
}

#header_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.links_div {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1.2rem;
  padding: 1rem;
}

#links_div2 {
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: white;
}

.accountLink {
  font-size: 1.5rem;
}

.myName {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2rem;
}

#introPara {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: fit-content;
  word-wrap: break-word;
  text-align: center;
}

img {
  background-size: cover;
  background-repeat: no-repeat;
}

#imgDiv {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border: none;
}

#imageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
}

#aboutDiv {
  height: fit-content;
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  word-wrap: break-word;
  text-align: center;
  color: #fff;
  padding: 25px 0px 0px 0px;
}

#discriptionDiv p {
  padding: 1rem 20px 20px 20px;
  font-size: 1rem;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#discriptionDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
  text-align: center;
}

#projectsDiv {
  height: fit-content;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0px 0px 0px;
  font-size: 1.5rem;
}

#projectsHeader {
  color: #0067f6;
}

#recentWorkDiv {
  padding: 20px 0px 0px 0px;
  height: fit-content;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#recentWorkDiv h2 {
  font-weight: 500;
  font-size: 1.2rem;
}

#projectCard {
  height: fit-content;
  width: 300px;
  border: 2px solid white;
  background-color: #232c3b83;
  border-radius: 12px;
}

#project_cards_div {
  padding: 30px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-radius: 12px;
  gap: 1rem;
  column-gap: 2rem;
}

#cardImgDiv img {
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  width: 300px;
  border-radius: 12px;
}

#cardImgDiv img:hover {
  transform: scale(1.04);
  cursor: pointer;
}

#cardInfoContainer {
  height: fit-content;
  width: 100%;
}

#cardViewLink {
  padding-top: 0.3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1.2rem;
}

#cardViewLink p,
a {
  font-size: 1.2rem;
  color: #fff;
}

#projectLink {
  font-size: 1.5rem;
}

#skillContainer {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  padding-top: 0.3rem;
}

#skillContainer p {
  padding: 4px 6px 4px 6px;
  border-radius: 10px;
  color: white;
  background-color: #65748d;
  font-size: 0.9rem;
}

#discriptionDiv p {
  word-wrap: break-word;
  text-align: center;
}

.socialLinks {
  padding-left: 40px;
}

@media (max-width: 840px) {
  #links_div2 {
    display: none;
  }
  #links_div1 {
    justify-content: center;
    align-content: center;
    width: 100vmin;
    gap: 2rem;
  }
}
